<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th th:fragment="column_link(fieldName, columnLabel)">
    <a class="text-white" th:if="${sortField != fieldName}"
       th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} +'&sortDirectory=' + ${sortField != fieldName ? sortDirectory : revertSortDir}
        + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${columnLabel}]]</a>
    <a class="text-white" th:if="${sortField == fieldName}"
       th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} +'&sortDirectory=' + ${sortField != fieldName ? sortDirectory : revertSortDir}
        + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${columnLabel}]]</a>
    <span th:if="${sortField == fieldName}"
          th:class="${sortDirectory == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
</th>

<a th:fragment="column_link_paginate(pageNumber, label)"
   class="page-link"
   th:href="@{'/users/page/' + ${pageNumber} + '?sortField=' + ${sortField} + '&sortDirectory=' + ${sortDirectory} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>


<td th:fragment="update_enabled_user">
    <a th:href="@{'/users/' + ${user.id} + '/enabled/false'}" th:if="${user.enabled == true}"
       class="fas fa-check-circle icon-green fa-2x" title="Disable this user"></a>
    <a th:href="@{'/users/' + ${user.id} + '/enabled/true'}" th:if="${user.enabled == false}"
       class="fas fa-check-circle icon-dark fa-2x" title="Enabled this user"></a>
</td>


<td class="action" th:fragment="delete_user">
    <a th:href="@{'/users/edit/' + ${user.id}}">
        <button class="btn btn-info rounded-circle btn-edit-user" title="Edit user">
            <i class="fa fa-pen"></i>
        </button>
    </a>
    <a th:href="@{'/users/delete/' + ${user.id}}" id="buttonDeleteUser" title="Delete user" th:entityId="${user.id}" class="link-delete">
        <button class="btn btn-danger rounded-circle">
            <i class="fa fa-trash fa-beat"></i>
        </button>
    </a>
</td>
</body>
</html>