<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <!--    <meta name="viewport" content="width:device-width, initial-scale=1.0, minimum-scale=1.0">-->

    <title>Shopme admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user_index_style.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js//bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{/layout_fragments :: menu}"></div>
    <h1 class="text-center">Manager user</h1>
    <div class="text-center">
        <a th:href="@{/users/new}">
            <button class="btn btn-success btn-create-new-user mb-3">Create user</button>
        </a>
    </div>
    <div th:if="${message != null}" class="alert-success alert text-center message">
        [[${message}]]
    </div>

    <div th:replace="~{fragments :: search_form('/users/page/1')}"></div>

    <div>
        <table class="table table-responsive-lg table-hover table-bordered table-striped">
            <thead class="thead-dark text-center">
            <th th:replace="~{/user/user_fragments :: column_link('id', 'User ID')}">
            </th>
            <th th:replace="~{/user/user_fragments :: column_link('email', 'Email')}">
            <th>Photos</th>
            <th th:replace="~{/user/user_fragments :: column_link('firstName', 'First name')}">
            <th th:replace="~{/user/user_fragments :: column_link('lastName', 'Last name')}">
            <th>Role</th>
            <th th:replace="~{/user/user_fragments :: column_link('enabled', 'Enabled')}">
            <th>Action</th>
            </thead>
            <tbody class="text-center">
            <tr th:each="user : ${listUsers}">
                <td>[[${user.id}]]</td>
                <td>[[${user.email}]]</td>
                <td>
                    <span th:if="${user.photos == null}" class="fa fa-portrait fa-3x icon-dark"></span>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" style="width: 100px">
                </td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>
                    <p th:each="role : ${user.roles}">
                        <span>[[${role.name}]]</span>
                    </p>
                </td>
                <td th:replace="~{/user/user_fragments :: update_enabled_user}"></td>
                <td th:replace="~{/user/user_fragments :: delete_user}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{/fragments :: pagination('/users', 'users')}"></div>

<div th:replace="~{/fragments :: confirm_modal}"></div>

<div th:replace="~{/layout_fragments :: footer}"></div>
</body>

<script th:src="@{/js/common_list.js}"></script>

<script type="text/javascript">
    let moduleURL = "[[@{/users}]]";

    $(document).ready(function () {
        var message = $(".message");

        function hideMessage() {
            message.hide();
        }

        setTimeout(hideMessage, 2000);
    });

    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'user')
        })
    })
</script>
</html>