<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Warning</h4>
                <button type="button" class="btn-close" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <span id="modalBody"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div th:fragment="confirm_modal" class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete confirmation</h4>
                <button type="button" class="btn-close" data-dismiss="modal">X</button>
            </div>
            <div class="modal-body">
                <span id="confirmText"></span>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-success" id="yesButton">Yes</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
    <div class="text-center mb-1" th:if="${totalItems > 0}">
        <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>

    <div class="text-center mb-1" th:unless="${totalItems > 0}">
        <span>No [[${entityName}]] found!</span>
    </div>

    <div th:if="${totalItems > 1}">
        <nav class="pagination justify-content-center">
            <ul class="pagination">
                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                    <a th:replace="~{/fragments :: column_link_paginate(${moduleURL}, 1, 'First')}"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{/fragments :: column_link_paginate(${moduleURL}, ${currentPage - 1}, 'Previous')}"></a>
                </li>
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPage)}">
                    <a th:replace="~{/fragments :: column_link_paginate(${moduleURL}, ${i}, ${i})}"></a>
                </li>
                <li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{/fragments :: column_link_paginate(${moduleURL}, ${currentPage + 1}, 'Next')}"></a>
                </li>
                <li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{/fragments :: column_link_paginate(${moduleURL}, ${totalPage}, 'Last')}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<a th:fragment="column_link_paginate(moduleURL, pageNumber, label)"
   class="page-link"
   th:href="@{${moduleURL} + '/page/' + ${pageNumber} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

</body>
</html>